container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate"
    leader_only: true
  02_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic --noinput"
    leader_only: true
  03_mySqlClient:
    command: "sudo yum install python3-devel mysql-devel"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: cloudApp.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: cloudApp.production
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static/

packages: 
  yum:
    python3-devel: []
    mariadb-devel: []