{% extends "store/base.html" %} {% block content %}
<div class="content-section">
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <button type="submit" class="btn btn-primary mb-2">Log in</button>
    <button type="submit" class="btn btn-primary mb-2">
      <a
        href="https://accounts.google.com/o/oauth2/auth/oauthchooseaccount?client_id=724712507497-7glqnj8k0bhi7chkr7j5iv28b86rhc8i.apps.googleusercontent.com&redirect_uri=http%3A%2F%2F127.0.0.1%3A8000%2Faccounts%2Fgoogle%2Flogin%2Fcallback%2F&scope=profile%20email&response_type=code&state=0nRF5ZtJBSLK&access_type=online&flowName=GeneralOAuthFlow"
        >Sign In with Google</a
      >
    </button>
  </form>
</div>
{% endblock content %}
