{% extends "store/base.html" %} {% block content %}
<div class="content-section">
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <button type="submit" class="btn btn-primary mb-2">Log in</button>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
</div>
{% endblock content %}
